{% extends 'base.html' %}
{% block content %}

<h1>Experience Details</h1>

<div class="row">
  <div class="col s6 col-offset-3">
    <div class="card">
      <div class="card-content">
        <p>Method: {{ experience.method }}</p>
        <p>Equipment: {{ experience.equipment }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'experiences_update' experience.id %}">Edit</a>
        <a href="{% url 'experiences_delete' experience.id %}">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}